<a href="https://colab.research.google.com/github/dizzydin/test/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install xmltodict
import json
import xmltodict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [ ]:
import requests
url='http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade?LAWD_CD=11110&DEAL_YMD=202112&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D'
response=requests.get(url)
data_dict = xmltodict.parse(response.content)
json_txt = json.dumps(data_dict)
r = json.loads(json_txt)
r

In [18]:
import requests
url='http://211.237.50.150:7080/openapi/sample/xml/Grid_20210806000000000612_1/1/5'
response=requests.get(url)
data_dict = xmltodict.parse(response.content)
json_txt = json.dumps(data_dict)
r = json.loads(json_txt)
tmp=r['Grid_20210806000000000612_1']['row']

In [19]:
import pandas as pd

df = pd.DataFrame(tmp)
df

  ROW_NUM CTPV  SGG  BRDT RFID_SE LVSTCK_KND   SPCS CNT
0       1  경기도  파주시  2002     내장형          개   페키니즈   2
1       2  경기도  파주시  2002     외장형          개  포메라니안   4
2       3  경기도  파주시  2002     인식표          개  포메라니안   1
3       4  경기도  파주시  2002     내장형          개  포메라니안   2
4       5  경기도  파주시  2002     외장형          개     푸들   7